*.json
*.env

# below are files from .config that i don't want to to keep track off
.config/*
!.config/alacritty
!.config/bash
!.config/bspwm
!.config/dunst
!.config/git 
!.config/nvim/
!.config/picom
!.config/polybar
!.config/rofi
!.config/sxhkd
!.config/tmux/.tmux.conf
